<div class="form-row">
  <%= f.label :name %>
  <%= f.text_field :name, class: "input-large" %>
</div>

<div class="form-row">
  <%= f.label :scheduled_at, "Date & Time" %>
  <%= f.datetime_local_field :scheduled_at,
      value: f.object.scheduled_at&.strftime("%Y-%m-%dT%H:%M"),
      class: "input-large" %>
</div>

<div class="form-row">
  <%= f.label :location, "Location" %>
  <%= f.select :location,
      options_for_select(
        information_session_location_select_options(f.object),
        selected: f.object.location
      ),
      {},
      {
        class: "input-large",
        id: "information_session_location",
        onchange: "document.getElementById('session-zoom-link-row').hidden = (this.value !== 'Zoom')"
      } %>
</div>

<div class="form-row" id="session-zoom-link-row" <%= "hidden" unless f.object.zoom_location? %>>
  <%= f.label :zoom_link, "Zoom link" %>
  <%= f.url_field :zoom_link, class: "input-large", placeholder: "https://..." %>
</div>

<div class="form-row">
  <%= f.label :capacity %>
  <%= f.number_field :capacity,
      value: (f.object.read_attribute(:capacity) || 10),
      min: 1,
      step: 1,
      class: "input-large" %>
</div>
